$height: 60px;

.main-header {
  min-height: $height;
}

.main-logo-props {
  height: $height;
  width: calc($height * 2.3);

  background-size: contain;
}

.login-panel {
  display: flex;
  align-content: center;
}
